<h1><%= book.title %></h1>
<h3>genre: <%= book.genre %></h3>
<h3>description: <%= book.description %></h3>
<br />

<div>
  <a class="btn btn-outline-info margin-top" href="/books/<%= book.id %>/edit">edit book</a>
</div>

<div>
  <a class="btn btn-outline-info margin-top" href="/books">back</a>
</div>
